img {
    width: 140px;
    height: 140px;
    vertical-align: middle;
}

#logo {
    font-size: 40px;
    color: darkturquoise;
    text-shadow: 2px 2px 2px black;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 32px;
}

body {
    background-image: linear-gradient(to right, pink, white, white, pink);
}

#menu ul {
    padding: 0px;
    margin: 0px;
    background-color: #EDEDED;
    list-style: none;
    float: inherit;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    padding: 0px 41px;
    display: inline-block;

    background-color: #EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom: 0px solid #EDEDED;

}

#menu ul li a:hover {
    background-color: #D6D6D6;
    color: #6D6D6D;
    border-bottom: 2px solid #1d160b;
}

h2 {
    font-size: 22px;
    text-align: justify;
    font-family: 'Mali', cursive;
    padding-left: 35px;
    padding-right: 35px;
    line-height: 35px;
    margin-left: 60px;
    margin-right: 60px;
}

#diferente {
    font-size: 30px;
    color: darkturquoise;
    font-family: 'Staatliches', cursive;
    text-shadow: 2px 2px 2px black;
}

#grafico {
    width: 360px;
    height: 450px;
    border: 5px double darkturquoise;
}

#exerc {
    width: 540px;
    height: 250px;
    border: 5px double darkturquoise;
}

#borda {
    width: 150px;
    height: 40px;
    padding: 0px;
    border: 5px double darkturquoise;
}

#bac {
    width: 600px;
    height: 200px;
    border: 5px double darkturquoise;
}

#defin {
    width: 180px;
    height: 20px;
}

#log {
    width: 490px;
    height: 420px;
    border: 5px double darkturquoise;
}

#logaritmo {
    height: 220px;
    width: 460px;
    border: 5px double darkturquoise;
}

#grafico2 {
    height: 220px;
    width: 350px;
    border: 5px double darkturquoise;
}

#border1 {
    border: 5px double red;
    padding: 20px;
}

#border2 {
    border: 5px double orange;
    padding: 20px;
}

#border3 {
    border: 5px double yellow;
    padding: 20px;
}

#border4 {
    border: 5px double green;
    padding: 20px;
}

#border5 {
    border: 5px double blue;
    padding: 20px;
}

#border6 {
    border: 5px double #0000a0;
    padding: 20px;
}

#border7 {
    border: 5px double #942eeb;
    padding: 20px;

}

#border8 {
    border: 5px double #ff26ac;
    padding: 20px;
}

#c1 {
    width: 280px;
    height: 150px;

}


#ex1 {
    width: 700px;
    height: 110px;
    border: 5px double darkturquoise;
}

#ex2 {
    width: 300px;
    height: 150px;
    border: 5px double darkturquoise;
}

#ex3 {
    width: 300px;
    height: 150px;
    border: 5px double darkturquoise;
}

#ex4 {
    width: 200px;
    height: 110px;
    border: 5px double darkturquoise;
}

#exemplo5 {
    width: 600px;
    height: 250px;
    border: 5px double darkturquoise;
}

#exemplo9 {
    width: 550px;
    height: 150px;
    border: 5px double darkturquoise;
}

#relacao {
    width: 200px;
    height: 300px;
    border: 5px double darkturquoise;
}

#letra {
    font-family: 'Shadows Into Light', cursive;
    font-size: 28px;
    text-shadow: 2px 2px 2px orange;
}

#colunas {
    width: 300px;
    height: 180px;
}
